.contentPaper{
    margin-left: 3em;
    background-color: #E9E9E9;
    width: 78%;

}

.titlePaper{
    margin-left: 1em;
    margin-top: 0.5em;
    font-size: 27px;
}

.paper{
    margin-left: 3.2em;
    margin-top: 0.5em;
    margin-right: 3.2em;
    margin-bottom: 0.5em;

}

.likes{
    color: green;
    margin-left: 40em;
    margin-top: 16em;
    margin-bottom: 2em;
    display: inline-block;
}

.likes button{
    margin-left: 1em;
    background-color: green;
    color: white;
}